<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body style="background-color: #e8f0fe">
<div class="container" style="height: 100% ; background-color: white">
    <div class="row dashboard-header">
        <div class="col-lg-4 text-center">
            <p class="m-1">
                امروز : 1400/03/10 چهارشنبه
            </p>
            <p class="m-0" style="font-size: 12px">
                ساعت سیستم 23:12
            </p>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <p class="text-center m-1">
                سید محمد باقر عظیمی
            </p>
            <p class="text-center m-0" style="font-size: 12px">
                ریاست بنیاد
            </p>
        </div>
        <div class="col-lg-1 text-center">
            <a href="#">
                <img id="profile-pic" src="{% static 'img/profile.png' %}"
                     style="max-height: 40px ; margin-top: 10px ; border-radius: 10px">
            </a>
        </div>
        <div class="context-menu">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <a href="{% url 'profile' %}">
                        <p class="context-item">
                            مشاهده پروفایل
                        </p>
                    </a>
                </div>
                <div class="col-lg-12 text-right">
                    <a href="{% url 'logout' %}">

                        <p class="context-item">
                            خروج
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
        <div class="text-center">
            You haven't Controll Access
        </div>
    {% endblock %}
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>