{% extends "core/dashboard/base.html" %}
{% load static %}
{% block content %}

    <div class="row">
    <div class="col-lg-6 dashboard-section" >
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'img/mail.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-6 dashboard-section" >

    </div>
    <div class="col-lg-6 dashboard-section" >

    </div>
    <div class="col-lg-6 dashboard-section" >

    </div>
    </div>
{% endblock %}