{% extends "core/dashboard/base.html" %}


{% block content %}
    <div class="row ">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead class="text-right">
                <th scope="col">شماره نامه</th>
                <th scope="col">از طرف</th>
                <th scope="col">موضوع نامه</th>
                <th scope="col">خلاصه نامه</th>
                <th scope="col">تاریخ نامه</th>
                <th scope="col">وضعیت نامه</th>
                </thead>
                <tbody class="text-right">
                <tr>
                    <td scope="col" style="white-space: nowrap;overflow:hidden; width: 1%; table-layout: fixed">
                        100214
                    </td>
                    <td scope="col">
                        وحید احمدی
                    </td>
                    <td scope="col" style="white-space: nowrap;overflow:hidden; max-width: 100px; table-layout: fixed">
                        درخواست SSL برای دامنه
                        اسرا.آی آر
                    </td>
                    <td scope="col" style="white-space: nowrap;overflow:hidden; max-width: 100px ; table-layout: fixed">
                        بدین وسیله درخواست
                        میکنیم که یک اس اس ال برای دامنه اسرا دات آی ار بخرید ، وصلش کنید و سعی کنید کمتر هک بشیم
                    </td>
                    <td scope="col" style="white-space: nowrap;overflow:hidden; max-width: 20px; table-layout: fixed">
                        1400/03/11
                    </td>
                    <td scope="col" style="white-space: nowrap;overflow:hidden; max-width: 10px; table-layout: fixed">
                        وضعیت نامه
                    </td>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}