{% extends "core/dashboard/base.html" %}

{% load static %}

{% block content %}
    <form action="{% url 'cartable_send_letter' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="letter" value="{{ letter.id }}">
        <div class="row pt-4 pb-4 bg-warning">
            <div class="col col-lg-4 text-right">
                <label> شماره نامه :</label>
                <span>{{ letter.tracking_id }}</span>
            </div>
            <div class="col col-lg-4 text-right">
                <label> نویسنده :</label>
                <span>{{ letter.creator.user.first_name }} {{ letter.creator.user.last_name }}</span>
            </div>
            <div class="col-lg-4 text-right">
{#                <a target="_blank" href="{% url 'cartable_out_letter' pk=letter.id %}">#}
{#                    <button class="btn btn-primary w-100">مشاهده نامه</button>#}
{#                </a>#}
            </div>


        </div>
        <div class="row pt-4 pb-4 bg-warning">
            <div class="col col-lg-2 text-right">
                <label> گیرندگان نامه : </label>
            </div>
            <div class="col col-lg-6 text-right">
                <select name="receivers" class="custom-select" id="receivers" multiple>
                                        <option disabled value> مخاطبین مورد نظر را انتخاب کنید </option>

                    {% for possible_receiver in possible_receivers %}
                        <option value={{ possible_receiver.id }}>{{ possible_receiver.user.first_name }} {{ possible_receiver.user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>


        </div>
        <div class="row pt-4 pb-4 bg-warning">
            <div class="col col-lg-2 text-right">
                <label> نامه های مرتبط : </label>
            </div>
            <div class="col col-lg-6 text-right">
                <select name="related-letters" class="custom-select" id="related-letters" multiple>
                    {% for possible_related_letter in possible_related_letters %}
                        <option value="{{ possible_related_letter.id }}">
                            {{ possible_related_letter.title }}
                            ( {{ possible_related_letter.tracking_id }} )
                        </option>

                    {% endfor %}

                </select>
            </div>


        </div>
        <div class="row pt-4 pb-4 bg-warning">
            <div class="col col-lg-2 text-right">
                <label for="attachments"> پیوست ها : </label>
            </div>
            <div class="col col-lg-6 text-right">
                <input name="attachments" id="attachments" type="file" multiple class="form-control-file">
            </div>

            <div class="col-lg-4 text-right">
                <button type="submit" class="btn btn-success w-100">ارسال</button>
            </div>

        </div>
    </form>

{% endblock %}