<!DOCTYPE html>
<html lang="en">
<head style="height: 100%">
    <meta charset="UTF-8">
    <title>اسکی از روی مروارید</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body style="height: 100% ; background-color: black">
<div class="container-fluid h-100 bg-gradient">
    <div class="row align-items-center h-100">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center align-items-center p-4 login-cart">

            <form action="" method="post">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <p style="font-weight: bold;font-size: 21px;color: #60AB9A">خوش آمدید</p>
                    </div>
                </div>
                {% csrf_token %}
                <div class="form-group row">

                    <label for="staticEmail" class="col-sm-4 col-form-label" style="color: #60AB9A">نام کاربری</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="user" name="username"
                               placeholder="U.Name">
                    </div>
                </div>
                <div class="form-group row">


                    <label for="password" class="col-sm-4 col-form-label" style="color: #60AB9A">رمز عبور</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group row text-center justify-content-center align-content-center"
                     style="padding-top: 20px">
                    <button class="btn w-25" style="background-color: #60AB9A ; color: white">ورود</button>
                </div>
                <div class="form-group row text-center justify-content-center align-content-center"
                     style="font-size: 11px">
                    <p style="color:red;">{{ error }}</p>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</body>
</html>