@font-face {
    font-family: "Persian";
    src: url("../fonts/YekanBakh-Bold.woff") format("woff");
}


html,
body {
    direction: rtl;
    height: 100%;
    font-family: "Persian";
}

a{
    text-decoration: none;
    color: #993300;
}

a:hover{
    text-decoration: none;
}

.bg-gradient {
    background-image: url("../img/login-background.jpg");
    background-position: center;
    background-size: cover;
}

.login-cart {
    border: 1px solid #2F6565;
    background-color: rgba(247, 247, 247, 0.8);
    border-radius: 10px;
    min-height: 30%
}

.dashboard-header {
    min-height: 60px;
    border-bottom: 2px solid #778caf;
}

.context-menu {
    z-index: 10000;
    border:1px solid black ;
    height: 0px;
    width: auto;
    background-color: #e8f0fe;
    position: absolute;
    transition: height 1s ease-in;
    display: none;
}

.context-menu-open {
    height: auto !important;
    display: block;

}

.context-item{
    margin:10px;
}

.dashboard-section{
    min-height: 250px;
    border-radius: 15px;
    border: 1px #e8f0fe solid;
    transition: 0.3s background-color linear;
}

.dashboard-section:hover{
    background-color: rgba(216, 216, 216 , 0.4);
}